#detail-booking {

  .form-group.booking-info, .form-group.email-notification {
    margin-top: 32px;

    .textarea-wrapper p {
      padding: $padding-large-vertical 0;
    }
  }
}

.download-pdf-button,
.download-pdf-button:link,
.download-pdf-button:hover,
.download-pdf-button:active,
.download-pdf-button:visited {
  background-color: #00d7a7;
  border: 0;
  color: $white;
  padding: 2px 10px 2px 10px;
  font-weight: bold;
  text-decoration: none;
}